*{
    padding: 0%;
    margin: 0%;
}
/* navbar styling */
nav{
    height: 80px;
    width: 100%;
    padding: 10px 0px;
    background-color: rgb(14, 14, 75);
    top: 0;
    position: fixed;
    display: flex;
    z-index: 100;
}
nav img{
    width: 70px;
    padding-left: 20px;
    padding-right: 20px;
}
#navv a{
    text-decoration: none;
    font-size: 30px;
    color: white;
    font-weight: bold;
    padding: 23px;
}
nav div {
    padding-top: 20px;
}


/* section1 */
#section1{
    background-image: url(./fourth.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 400px;
    padding-top: 200px;
}
#sec1{
    width: 450px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.475);
    backdrop-filter: blur(3px);
    font-weight: bolder;
    padding: 30px;
}
#sec1 button{
    padding: 10px;
    border-radius: 10px;
}
#sec1 a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}


/* section2 */
#section2{
    background-color: rgb(22, 22, 88);
    color: whitesmoke;
    height: 500px;
}
#section2 h1{
    font-size: 40px;
    padding: 0.7%;
    padding-top: 3.5%;
}
#sec2{
    display: flex;
    align-items: center;
}
#sec2 div{
    width: 280px;
    height: 220px;
    margin-left: 2%;
    padding: 2%;
    margin-top: 2%;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 5px 5px 8px black;
}
#sec2 div:hover{
    transform: scale(1.1);
    transition: 1.5s;
}
#sec2 div ion-icon {
    font-size: 35px;
}
#sec2 div h2{
    font-size: 35px;
}
#sec2 div p{
    font-size: 20px;
}

/* section3 */
#section3{
background-color: rgb(22, 22, 88);
display: flex;
color: white;
width: 100%;
padding-bottom: 5%;
}
#section3 img{
width: 50%;
mix-blend-mode: multiply;
}
#sec3{
width: 400px;
height: 150px;
border-radius: 25px;
background-color: rgba(0, 0, 0, 0.475);
backdrop-filter: blur(3px);
font-weight: bolder;
padding: 50px;
margin-top: 75px;
margin-left: 150px;
padding-bottom: 70px;
}
#sec3 button{
padding: 10px;
border-radius: 8px;
font-weight: bold;
}

/* section4 */
#section4{
    background-color: rgb(22, 22, 88);
    color: white;
    padding-bottom: 100px;
}
#section4 h1{
    font-size: 35px;
    display: inline-block;
    margin: 50px;
}
#section4 h1 ion-icon{
    font-size: 40px;
    vertical-align: middle;
}
#sec4{
    display: flex;
}
#sec4 img{
    width: 270px;
    height: 270px;
    margin-left: 28px;
    border-radius: 10px;
    box-shadow: 5px 5px 8px black;
}
#sec4 img:hover{
    transform: scale(1.1);
    transition: 1.5s;
}


/* section5 */
#section5{
    background-color: rgb(22, 22, 88);
    color: white;
}
#section5 h1{
    font-size: 35px;
    font-weight: bold;
}
#section5 h4{
    font-size: 25px;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 15px;
}
#section5 p{
    font-size: 17px;
    font-weight: bold;
    padding: 10px;
}
#sec5{
    display: flex;
    flex-wrap: wrap;
}
#section5 button{
    padding: 10px;
    margin-left: 12px;
}
#div1 {
    transition: transform 0.3s ease;
}

#div1:hover {
    transform: translateY(-100px);
}


/* section6 */
#section6{
    width: 100%;
    display: flex;
}
#section6 img{
    margin-top: 20px;
    width: 1000px;
    height: 820px;
    background-blend-mode: multiply;
}
#sec6{
    font-size: 20px;
    font-weight: bold;
    margin-left: 90px;
    margin-top: 20px;
}
#sec6 input{
    width: 350px;
    height: 40px;
    border: 2px solid black;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
}
#sec6 textarea{
    height: 100px;
    width: 350px;
    border: 2px solid black;
    border-radius: 8px;
}


/* section7 */
#section7{
    background-color: rgb(22, 22, 88);
    color: white;
    padding-bottom: 100px;
}
#s7h1{
    font-size: 35px;
    padding: 50px;
}
#sec7{
    display: flex;
    margin-left: 150px;
}
#sec7 div{
    width: 300px;
    margin-left: 50px;
    border: 3px solid white;
    border-radius: 20px;
    padding: 20px;  
    background-color: black;      

}
#sec7 div img{
    width: 85px;
    height: 90px;
    border-radius: 50%;
}
/* section8 */
#section8{
    background-color: rgb(22, 22, 88);
    padding-left: 25%;
    color: white;
    padding-bottom: 100px;
}
#sec8{
    display: flex;
    gap: 50px;
}
#sec8 div{
    font-weight: bold;
    font-size: 22px;
}
#sec8 input{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    font-weight: bold;
    padding-left: 20px;
    font-size: 15px;
}
#sec8 #msg{
    width: 300px;
    border-radius: 10px;
    height: 200px;
    font-weight: bold;
    padding-left: 20px;
    font-size: 20px;
}
#sec8 #sub{
    width: 150px;
}


/* footer */
#footer{
    display: flex;
    gap: 100px;
    background-color: rgb(22, 22, 88);
    color: white;
    padding-left: 10%;
    border-top: 3px solid white;
    padding-top: 5%;
    font-weight: bold;
}
#footer div{
    height: 300px;

}
#foot1{
    width: 550px;
}
#foot1 p{
    font-size: 18px;
}
#foot1 ion-icon{
    font-size: 30px;
    padding-right: 15px;
}
#foot2 a, #foot3 a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}